<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ads.detech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application>
        <activity
            android:name=".activity.NativeFullActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.libraries.ads.mobile.sdk.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.libraries.ads.mobile.sdk.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.libraries.ads.mobile.sdk.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="TENJIN_APP_STORE"
            android:value="googleplay" />
    </application>

</manifest>